body {
    background-color: #ffffff;
}

#navbar {
}

#ABANK {
    color: #0026ff;
    margin-left: 5px;
    font-size: 35px;
}

h4 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#Tablo {
    width: 980px;
    height: 905px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 110px;
    background-color: #0094ff;
    opacity: 1.2;
}
